body {
  background-color: beige;
  display: flex;
  justify-content: center;
  align-self: center;
}

.boxDisplay {
  display: flex;
  width: 200px;
  height: 200px;
  border: red solid 10px;
  justify-content: center;
  align-content: center;
}
